/*******************************************
*	Theme Name: Market
*	Author: Magentech
*	Author URI: http://www.magentech.com
*	Version: 1.0.0
*	Description: This is html5 Sass template 
*******************************************/
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Buton
    [3] Minxin Triangle
   
==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*******************************************************
  Style Color
********************************************************/
/**************************************************************
	  BLOCK HEADER 
**************************************************************/
.type_6 {
  background-color: #232f3e; margin-bottom:20px; }
  .type_6 .header-top {
    background: transparent;
    border-bottom: 1px solid #303e4f; }
    .type_6 .header-top .languages-block, .type_6 .header-top .currencies-block {
      margin: 0;
      border: none; }
      .type_6 .header-top .languages-block form:hover, .type_6 .header-top .currencies-block form:hover {
        background: transparent; }
      .type_6 .header-top .languages-block a.btn, .type_6 .header-top .currencies-block a.btn {
        color: #bcbdc7;
        text-decoration: none;
        padding: 2px 10px; }
        .type_6 .header-top .languages-block a.btn:hover, .type_6 .header-top .currencies-block a.btn:hover {
          color: #fff; }
  .type_6 .header-center {
    padding: 25px 0 20px;
    border-bottom: 1px solid #303e4f; }
  .type_6 .header-bottom {
    background: transparent;
    margin-bottom: 15px; }
  .type_6 .header-top-right {
    display: inline-block; }
    .type_6 .header-top-right ul.top-link {
      list-style: none;
      margin: 6px 0; }
      .type_6 .header-top-right ul.top-link > li {
        display: inline-block;
        list-style: outside none;
        vertical-align: middle; }
        .type_6 .header-top-right ul.top-link > li > a {
          display: block;
          font-size: 12px;
          color: #bcbdc7;
          text-decoration: none; }
          .type_6 .header-top-right ul.top-link > li > a:hover {
            color: #fff; }
        .type_6 .header-top-right ul.top-link > li .fa {
          margin-right: 5px;
          font-size: 14px; }
  .type_6 .phone-contact {
    color: #fff; }
    @media (min-width: 1200px) {
      .type_6 .phone-contact {
        padding: 0; } }
    .type_6 .phone-contact .inner-info {
      text-transform: uppercase;
      padding-left: 45px;
      background: url("../image/theme//home6/icon-phone.png") left top no-repeat;
      background-position: left 5px; }
  .type_6 .shopping_cart {
    padding: 0 15px; }
    .type_6 .shopping_cart a.top_cart {
      display: inline-block; }
      .type_6 .shopping_cart a.top_cart .shopcart .title {
        color: #fff; }
      .type_6 .shopping_cart a.top_cart .shopcart .text-shopping-cart {
        color: #fff; }
  .type_6 #sosearchpro {
    margin-top: 4px;
    padding-right: 30px; }
    .type_6 #sosearchpro .select_category {
      vertical-align: middle;
      background: #fff;
      border-radius: 20px 0 0 20px;
      display: table-cell;
      max-width: 130px;
      position: relative;
      z-index: 1; }
      .type_6 #sosearchpro .select_category select {
        border: none;
        background-color: transparent;
        padding: 5px 10px;
        cursor: pointer; }
    .type_6 #sosearchpro .form-control {
      border: 1px solid #e5e5e5;
      box-shadow: none;
      min-height: 40px; }
    .type_6 #sosearchpro .button-search {
      padding: 7px 12px;
      background: #555555;
      color: #fff;
      border-radius: 0;
      border-color: #555555;
      background: #F4A137;
      border-color: #F4A137;
      padding: 9px 12px;
      border-radius: 0 20px 20px 0;
      min-width: 54px; }
      .type_6 #sosearchpro .button-search:hover {
        background: #F4A137;
        border-color: #F4A137;
        color: #fff; }
      .type_6 #sosearchpro .button-search:hover {
        background: #555555;
        border-color: #555555; }
  @media (min-width: 992px) {
    .type_6 .vertical .megamenuToogle-wrapper {
      background: transparent; }
      .type_6 .vertical .megamenuToogle-wrapper .container {
        padding: 12px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600; }
    .type_6 .horizontal .navbar-default {
      background-color: transparent;
      border-color: transparent; }
      .type_6 .horizontal .navbar-default .megamenu-wrapper {
        background: transparent; }
    .type_6 .horizontal ul.megamenu .label-hot {
      position: absolute;
      z-index: 2;
      top: -10px;
      right: 0px; }
    .type_6 .horizontal ul.megamenu > li > a {
      color: #bcbdc7;
      font-size: 14px;
      height: auto;
      padding: 5px 10px;
      line-height: 36px;
      text-shadow: none; }
    .type_6 .horizontal ul.megamenu > li strong {
      font-weight: normal; }
    .type_6 .horizontal ul.megamenu > li.home a, .type_6 .horizontal ul.megamenu > li.active a, .type_6 .horizontal ul.megamenu > li:hover a {
      background: transparent;
      color: #fff; }
    .type_6 .horizontal ul.megamenu > li .sub-menu a {
      color: #444; }
      .type_6 .horizontal ul.megamenu > li .sub-menu a:hover {
        color: #F4A137; } }

/*# sourceMappingURL=header6.css.map */
