<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Register</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-12 col-md-8  col-lg-8 col-md-offset-2 col-lg-offset-2 form-box">
            <form role="form" name = "companyForm"
                  #companyForm="ngForm"
                  [formGroup]="_companyFormGroup" class="f1">
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="f1-progress-line"
                             data-now-value="16.66"
                             data-number-of-steps="3"
                             style="width: 16.66%;"></div>
                    </div>
                    <div class="f1-step" [class.active]="_currentFlow==0 || _currentFlow==1 || _currentFlow==2">
                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                        <p>I am a</p>
                    </div>
                    <div class="f1-step" [class.active]="_currentFlow==1 || _currentFlow==2">
                        <div class="f1-step-icon"><i class="fa fa-id-card-o"></i></div>
                        <p>Company Info</p>
                    </div>
                    <div class="f1-step" [class.active]="_currentFlow==2">
                        <div class="f1-step-icon"><i class="fa fa-check-square-o"></i></div>
                        <p>Verification</p>
                    </div>
                </div>
                <fieldset *ngIf="_currentFlow==0">
                    <div class="col-md-12">
                        <h4>Tell us who you are:</h4>
                        <div class="form-group">
                            <div id="affected">
                                <div class="zInputWrapper">
                                    <div class="zInput" [class.zSelected]="_company.localCompany" (click)="selectWhoAmI(true)">
                                        <span style="display:table;width: 100%;height: 100%;">
                                            <span style="display: table-cell;vertical-align:middle;">
                                                <i class="fa fa-user">
                                                    <input type="radio" name="set" title="&lt;i class='fa fa-user'&gt;&lt;/i&gt;  Seller from India" style="display: none;">
                                                </i> Seller from India
                                            </span>
                                        </span>
                                    </div>

                                    <div class="zInput" [class.zSelected]="!_company.localCompany" (click)="selectWhoAmI(false)">
                                        <span style="display:table;width: 100%;height: 100%;">
                                            <span style="display: table-cell;vertical-align:middle;">
                                                <i class="fa fa-shopping-cart">
                                                </i> Buyer outside India
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear mrg45B"></div>
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-next" (click)="selectNextFlow()">Next</button>
                        </div>

                    </div>

                </fieldset>
                <fieldset *ngIf="_currentFlow==1">
                    <div class="col-md-12">

                        <div class="form-group col-md-12 pad0A">
                            <label class="" for="name">Company Name</label>
                            <input id="name" type="text" name="name" placeholder="Company Name"
                                   class="form-control" required
                                   [(ngModel)]="_company.name"
                                   formControlName="name"
                            >
                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="name.errors.required">Company name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 pad0L">
                            <label class="" >Company Location</label>
                            <select  class="form-control" name="country"
                                     formControlName="country"
                                     [(ngModel)]="_company.country" required
                                     (ngModelChange)="onCountryChange($event)"
                            >
                                <option [ngValue]="null" disabled [selected]="true">-Select-</option>
                                <option *ngFor="let country of _countries; index as i;" [value]="country.name">{{country.name}}</option>
                            </select>
                            <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="country.errors.required">Company Location is required</div>
                            </div>
                        </div>
                        <div class="form-group  col-md-6 pad0R">
                            <label class="control-label" for = "email" >Company Email</label>
                            <input id = "email" type="text" name="email"
                                   formControlName="email"
                                   placeholder="Company Email" class="form-control" required
                                   [(ngModel)]="_company.email">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="email.errors.required">Company Email is required</div>
                                <div *ngIf="email.errors.email">Company Email incorrect format</div>
                                <div *ngIf="email.status === 'PENDING'">Checking...</div>
                                <div *ngIf="email.errors.emailTaken">Email address already registered</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 pad0L">
                            <label class="" >Company Language</label>
                            <select id="language" class="form-control" name="language" required
                                     formControlName="language"
                                     [(ngModel)]="_company.language"
                                    (ngModelChange)="onLanguageChange($event)">
                                <option [ngValue]="null" disabled [selected]="true">-Select-</option>
                                <option *ngFor="let language of _languages; index as i;" [value]="language.LanguageName">{{language.LanguageName}}</option>
                            </select>
                            <div *ngIf="language.invalid && (language.dirty || language.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="language.errors.required">Company Language is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 pad0R">
                            <label class="" >Currency</label>
                            <select id="currency" class="form-control" name="currency"
                                     formControlName="currency" required
                                     [(ngModel)]="_company.currency">
                                <option [ngValue]="null" disabled [selected]="true">-Select-</option>
                                <option *ngFor="let currency of _currencies; index as i;" [value]="currency.code">{{currency.code}}</option>
                            </select>
                            <div *ngIf="currency.invalid && (currency.dirty || currency.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="currency.errors.required">Company Currency is required</div>
                            </div>
                        </div>
                            <div class="form-group  col-md-6 pad0L">
                                <label class="" >Contact Person First Name</label>
                                <input id="contactPersonName" type="text" name="contactPersonName"
                                       placeholder="Contact Person First Name" required
                                       class="form-control"
                                       formControlName="contactPersonName"
                                       [(ngModel)]="_company.contactPersonFirstName">

                                <div *ngIf="contactPersonName.invalid && (contactPersonName.dirty || contactPersonName.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="contactPersonName.errors.required">Contact Person First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6 pad0R">
                                <label class="" >Contact Person Surname</label>
                                <input id="contactPersonSurname" type="text"
                                       name="contactPersonSurname" placeholder="Contact Person Surname" class="form-control"
                                       formControlName="contactPersonSurname" required
                                       [(ngModel)]="_company.contactPersonSurname">
                                <div *ngIf="contactPersonSurname.invalid && (contactPersonSurname.dirty || contactPersonSurname.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="contactPersonSurname.errors.required">Contact Person Surname is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 pad0L">
                                <label class="" >Password</label>
                                <input id="password" type="password" name="password"
                                       placeholder="Password..." class="form-control"
                                       formControlName="password" required
                                       [(ngModel)]="_company.password">
                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 pad0R">
                                <label class="" >Confirm password</label>
                                <input id="confirmPassword" type="password" name="confirmPassword"
                                       placeholder="Confirm password..." class="form-control"
                                       formControlName="confirmPassword" required
                                       [(ngModel)]="_company.confirmPassword">
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="confirmPassword.errors.required">Password is required</div>
                                    <div *ngIf="confirmPassword.errors!=null && confirmPassword.errors.notConfirmed">Confirm Password must be same as Password</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 pad0L">
                                <label class="" >Company Landline No.</label>
                                <div>
                                    <div class="col-md-3 pad0L">
                                        <input id="landLineCountryCode" type="text" name="landLineCountryCode"
                                               readonly = "true" placeholder="" class="form-control"
                                               formControlName="landLineCountryCode" required
                                               [(ngModel)]="_company.landLineCountryCode">
                                    </div>
                                    <div class="col-md-3 pad0L">
                                        <input id="landLineAreaCode" type="text" name="landLineAreaCode"
                                               placeholder="" class="form-control" maxlength="3"
                                               formControlName="landLineAreaCode" required
                                               [(ngModel)]="_company.landLineAreaCode">
                                    </div>
                                    <div class="col-md-6 pad0L pad0R">
                                        <input id="landLineNumber" type="text" name="landLineNumber"
                                               placeholder="" class="form-control" maxlength="12"
                                               formControlName="landLineNumber" required
                                               [(ngModel)]="_company.landLineNumber">
                                    </div>
                                </div>
                                <div *ngIf="
                                    (landLineCountryCode.invalid && (landLineCountryCode.dirty || landLineCountryCode.touched)) ||
                                    (landLineAreaCode.invalid && (landLineAreaCode.dirty || landLineAreaCode.touched)) ||
                                    (landLineNumber.invalid && (landLineNumber.dirty || landLineNumber.touched))"
                                     class="alert alert-danger">
                                    <div *ngIf="landLineCountryCode.errors!=null && landLineCountryCode.errors.required">Land-line Country Code is required</div>
                                    <div *ngIf="landLineAreaCode.errors!=null && landLineAreaCode.errors.required">Land-line Area Code is required</div>
                                    <div *ngIf="landLineAreaCode.errors!=null && landLineAreaCode.errors.pattern">Land-line Area incorrect format</div>
                                    <div *ngIf="landLineNumber.errors!=null && landLineNumber.errors.pattern">Land-line ext incorrect format</div>
                                    <div *ngIf="landLineNumber.errors!=null && landLineNumber.errors.required">Land-line number Code is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 pad0R">
                                <label class="" >Company Mobile No.</label>
                                <div>
                                    <div class="col-md-3 pad0L">
                                        <input id="mobileCountryCode" type="text" name="mobileCountryCode"
                                               readonly = "true" placeholder="" class="form-control"
                                               formControlName="mobileCountryCode" required
                                               [(ngModel)]="_company.mobileCountryCode" >
                                    </div>
                                    <div class="col-md-3 pad0L">
                                        <input id="mobileAreaCode" type="text" name="mobileAreaCode" placeholder="" class="form-control" maxlength="3"
                                               formControlName="mobileAreaCode" required
                                               [(ngModel)]="_company.mobileAreaCode">
                                    </div>
                                    <div class="col-md-6 pad0L pad0R">
                                        <input id="mobileNumber" type="text" name="mobileNumber" maxlength="12"
                                               class="form-control"
                                               formControlName="mobileNumber" required
                                               [(ngModel)]="_company.mobileNumber">
                                    </div>
                                </div>
                                <div *ngIf="
                                    (mobileCountryCode.invalid && (mobileCountryCode.dirty || mobileCountryCode.touched)) ||
                                    (mobileAreaCode.invalid && (mobileAreaCode.dirty || mobileAreaCode.touched)) ||
                                    (mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched))"
                                     class="alert alert-danger">
                                    <div *ngIf="mobileCountryCode.errors!=null && mobileCountryCode.errors.required">Mobile Country Code is required</div>
                                    <div *ngIf="mobileAreaCode.errors!=null && mobileAreaCode.errors.required">Mobile Area Code is required</div>
                                    <div *ngIf="mobileAreaCode.errors!=null && mobileAreaCode.errors.pattern">Mobile Area incorrect format</div>
                                    <div *ngIf="mobileNumber.errors!=null && mobileNumber.errors.pattern">Mobile ext incorrect format</div>
                                    <div *ngIf="mobileNumber.errors!=null && mobileNumber.errors.required">Mobile number Code is required</div>
                                    <div *ngIf="mobileNumber.status === 'PENDING'">Checking...</div>
                                    <div *ngIf="mobileNumber.errors!=null && mobileNumber.errors.mobileTaken">Mobile number already registered</div>
                                </div>
                            </div>
                        <div class="clear mrg20B"></div>
                        <div class="col-md-12 zero-lr-padding">
                            <div class="col-md-8 zero-lr-padding">
                              I have read and agree to the
                              <a href="#" class="agree"><b> Terms &amp; Conditions </b></a>
                              <input type="checkbox" name="agreedToTermsAndConditions"
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="_company.agreedToTermsAndConditions">
                            </div>
                            <div class="col-md-4 zero-lr-padding" style="text-align: right;">
                              <button type="button" class="btn btn-previous" (click)="selectPreviousFlow()">Previous</button>
                              <button type="button" class="btn btn-next" (click)="selectNextFlow()" [disabled]="!isCompanyProfileFormValid()">Next</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="_currentFlow==2">
                    <div class="col-md-12">
                        <h4>Verify your Mobile Number:</h4>
                        <p>An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for successful verification.</p>
                        <div>
                            <div class="form-group col-sm-6 pad0L">
                                <div>
                                    <div class="col-sm-3 pad0L" >
                                        <input id="vMobileCountryCode" type="text" name="vMobileCountryCode"
                                               readonly = "true" placeholder="" class="form-control"
                                               formControlName="vMobileCountryCode" required
                                               [(ngModel)]="_company.mobileCountryCode" >
                                    </div>
                                    <div class="col-sm-3 pad0L">
                                        <input id="vMobileAreaCode" type="text" name="vMobileAreaCode" placeholder="" class="form-control" maxlength="3"
                                               formControlName="vMobileAreaCode" required
                                               [(ngModel)]="_company.mobileAreaCode">
                                    </div>
                                    <div class="col-sm-6 pad0L pad0R">
                                        <input id="vMobileNumber" type="text" name="vMobileNumber" maxlength="12"
                                               class="form-control"
                                               formControlName="vMobileNumber" required
                                               [(ngModel)]="_company.mobileNumber">
                                    </div>
                                </div>
                                <div *ngIf="
                                    (vMobileCountryCode.invalid && (vMobileCountryCode.dirty || vMobileCountryCode.touched)) ||
                                    (vMobileAreaCode.invalid && (vMobileAreaCode.dirty || vMobileAreaCode.touched)) ||
                                    (vMobileNumber.invalid && (vMobileNumber.dirty || vMobileNumber.touched))"
                                     class="alert alert-danger">
                                    <div *ngIf="vMobileCountryCode.errors!=null && vMobileCountryCode.errors.required">Mobile Country Code is required</div>
                                    <div *ngIf="vMobileAreaCode.errors!=null && vMobileAreaCode.errors.required">Mobile Area Code is required</div>
                                    <div *ngIf="vMobileAreaCode.errors!=null && vMobileAreaCode.errors.pattern">Mobile Area incorrect format</div>
                                    <div *ngIf="vMobileNumber.errors!=null && vMobileNumber.errors.pattern">Mobile ext incorrect format</div>
                                    <div *ngIf="vMobileNumber.errors!=null && vMobileNumber.errors.required">Mobile number Code is required</div>
                                    <div *ngIf="vMobileNumber.status === 'PENDING'">Checking...</div>
                                    <div *ngIf="vMobileNumber.errors!=null && vMobileNumber.errors.mobileTaken">Mobile number already registered</div>
                                </div>

                                <input id="mobileOTP" type="text" class="form-control" name="mobileOTP"
                                     placeholder="Enter your OTP number"
                                     formControlName="mobileOTP"
                                     [(ngModel)]="_company.mobileOTP">
                                <a href="#" (click)="sendVerifyMobileOTP()">Resend OTP</a> </div>



                            <div class="col-sm-3" *ngIf="!(vMobileAreaCode.dirty || vMobileNumber.dirty)">
                                <button class="btn btn-info  col-sm-3"
                                        (click)="validateMobileVerificationCode()">Verify</button>
                            </div>
                            <div class="col-sm-3" *ngIf="vMobileNumber.valid && (vMobileNumber.dirty || vMobileAreaCode.dirty)">
                                <button class="btn btn-info"
                                        (click)="updateCompany('mobile')">Update</button>
                            </div>

                        </div>
                        <div class="clear mrg20B"></div>
                        <h4>Verify your Email ID:</h4>
                        <p>An OTP has been sent to your Email ID. Please enter the 4 digit OTP below for successful verification.</p>
                        <div>
                            <div class="form-group col-sm-6 pad0L">
                                <input id="vEmail" type="text" class="form-control" name="vEmail" placeholder="Enter email id"
                                     formControlName="vEmail" required
                                     [value]="_company.email">
                                <div *ngIf="vEmail.invalid && (vEmail.dirty || vEmail.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="vEmail.errors.required">Company Email is required</div>
                                    <div *ngIf="vEmail.errors.email">Company Email incorrect format</div>
                                    <div *ngIf="vEmail.status === 'PENDING'">Checking...</div>
                                    <div *ngIf="vEmail.errors.emailTaken">Email address already registered</div>
                                </div>
                                <input id="emailOTP" type="text" class="form-control" name="emailOTP" placeholder="Enter your OTP number"
                                       formControlName="emailOTP" required
                                       [(ngModel)]="_company.emailOTP">
                                <a href="#" (click)="sendVerifyEmailOTP()">Resend OTP</a> </div>

                            <div class="col-sm-3" *ngIf="!vEmail.dirty">
                                <button class="btn btn-info  col-sm-3"
                                        (click)="validateEmailVerificationCode()">Verify</button>
                            </div>
                            <div class="col-sm-3" *ngIf="vEmail.valid && vEmail.dirty">
                                <button class="btn btn-info"
                                        (click)="updateCompany('email')">Update</button>
                            </div>
                        </div>
                        <div class="clear mrg20B"></div>
                        <div class="f1-buttons">
                             <!-- we don't need this Previous button, as with new text boxes allowed to capture email id & Mobile & Verify Accordingly -->
                            <button type="button" class="btn btn-previous" (click)="selectPreviousFlow()">Previous</button>

                            <!--<button type="button" class="btn btn-submit"  (click)="saveCompany()">Submit</button>-->
                            <!-- we don't need to saveCompany, with saveCompany() -->
                            <button type="button" class="btn btn-submit"  (click)="doneProcess()">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
