
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form),.ng-touched.required  {
    border-left: 5px solid #a94442; /* red */
}

.ng-untouched[required], .ng-valid.required  {
    border-left: 5px solid #e07f1e; /* green */
}